<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Add Book</title>
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
</head>
<body>
	<h1>Add a book</h1>
	
	<form th:object="${book}" th:action="@{save}" action="#" method="post">
	<label for="title">Title</label>
	<input type="text" id="title" th:field="*{title}" class="form-control"/></br>
	<label for="author">Author</label>
	<input type="text" id="author" th:field="*{author}" class="form-control"/></br>
	<label for="year">Year</label>
	<input type="number" id="year" th:field="*{year}" class="form-control"/></br>
	<label for="isbn">Isbn</label>
	<input type="text" id="isbn" th:field="*{isbn}" class="form-control"/></br>
	<label for="price">Price</label>
	<input type="text" id="price" th:field="*{price}" class="form-control"/></br>
	
	<select id="categorylist" th:field="*{category}" class="form-control">
	<option th:each="category: ${categories}" th:value="${category.categoryId}" th:text="${category.name}"></option>
	</select>
	
	</br>
	<input type="submit" class="btn btn-primary" value="Save"></input>	
	
	</form>
</body>

</html>

