<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
  <head>
    <title>Login page</title>
  </head>
  <body>
    <h1>Please log in or sign up</h1>
   
   
    <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
   
   
    <form th:action="@{/login}" method="post">
      <label for="username">Username</label>:
      <input type="text" id="username" name="username" autofocus="autofocus" class="form-control"/> <br />
      <label for="password">Password</label>:
      <input type="password" id="password" name="password" class="form-control"/> <br />
      <input type="submit" value="Sign in" />
    </form>
    </br>
    <a th:href="@{/signup}">Sign-up</a>
  </body>
</html>